@charset "ISO-8859-1";

h1{
	font-size: 28px;
	font-weight: bold;
	font-family: Comic Sans MS;
	color: #E41788;
	border: 3px solid #9900cc;
	background-color: #b3e0ff;
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
}

.index-uvod{
	font-size: 18px;
	font-family: Comic Sans MS;
	font-weight: bold;
	color: #00ff00;
	border: 1px solid #006600;
	text-align: left;
	padding-left: 10%;
	background-image: url("../slike/back.jpg");
}

.registracija-forma{	
	font-size: 18px;
	font-family: Comic Sans MS;
	font-weight: bold;
	color:  #e6e6ff;
	background-image: url("../slike/form-back.jpg");
	border: 1px solid #ffff1a;
	width: 60%;
	display: inline-block;
	padding: 5%;
	margin-left: 10%;
	
}

.slika-registracija{
	width: 15%;
	background-color: #e6ffff;
}

.registracija-input-user{
	font-size: 14px;
	font-family: Comic Sans MS;
	color:#00004d;
	font-weight: bold;
	border: 1px solid #ffff1a;
	margin-left: 13%;
	text-align: left;
	width: 50%;
	background-color: #e6e6ff;
}

.registracija-input-pass{
	font-size: 14px;
	font-family: Comic Sans MS;
	color:#00004d;
	font-weight: bold;
	border: 1px solid #ffff1a;
	margin-left: 15%;
	text-align: left;
	width: 50%;
	background-color: #e6e6ff;
}

.registracija-input-rep{
	font-size: 14px;
	font-family: Comic Sans MS;
	color:#00004d;
	font-weight: bold;
	border: 1px solid #ffff1a;
	margin-left: 5.1%;
	text-align: left;
	width: 50%;
	background-color: #e6e6ff;
}


.registracija-zajednicki-div{
	padding: 5%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	background-color: #e6ffff;
}

.registracija-submit{
	font-size: 14px;
	font-family: Comic Sans MS;
	color:#00004d;
	font-weight: bold;
	border: 1px solid #ffff1a;
	margin-left: 28.5%;
	margin-top: 10px;
	text-align: center;
	width: 35%;
	background-color: #e6e6ff;
	
}


#glavni_div_index{
	border: 2px solid #00b3b3;
	background-color: #e6ffff;
}

